docs/schemas/aec-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://executable-tickets.com/schema/aec/v1"
  xmlns="https://executable-tickets.com/schema/aec/v1"
  elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation>
      AEC (Agent Executable Contract) XML Schema v1.0
      
      This schema defines the structure for machine-readable ticket contracts
      that can be parsed and executed by AI agents and external systems.
      
      Version: 1.0
      Created: 2026-02-01
      Project: Executable Tickets
    </xs:documentation>
  </xs:annotation>

  <!-- =========================================== -->
  <!-- Root Element -->
  <!-- =========================================== -->

  <xs:element name="aec">
    <xs:annotation>
      <xs:documentation>
        Root element representing an Agent Executable Contract
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadata" type="MetadataType"/>
        <xs:element name="intent" type="IntentType"/>
        <xs:element name="requirements" type="RequirementsType"/>
        <xs:element name="implementation" type="ImplementationType"/>
        <xs:element name="validation" type="ValidationType"/>
        <xs:element name="snapshots" type="SnapshotsType"/>
        <xs:element name="tracking" type="TrackingType"/>
        <xs:element name="export" type="ExportType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="version" type="xs:string" use="required" fixed="1.0"/>
    </xs:complexType>
  </xs:element>

  <!-- =========================================== -->
  <!-- Complex Types -->
  <!-- =========================================== -->

  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="workspaceId" type="xs:string"/>
      <xs:element name="status" type="StatusEnum"/>
      <xs:element name="readinessScore" type="ScoreType"/>
      <xs:element name="createdAt" type="xs:dateTime"/>
      <xs:element name="updatedAt" type="xs:dateTime"/>
      <xs:element name="driftDetectedAt" type="xs:dateTime" nillable="true"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IntentType">
    <xs:sequence>
      <xs:element name="title" type="TitleType"/>
      <xs:element name="description" type="xs:string" nillable="true"/>
      <xs:element name="type" type="TicketTypeEnum" nillable="true"/>
      <xs:element name="userStory" type="UserStoryType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UserStoryType">
    <xs:sequence>
      <xs:element name="asA" type="xs:string"/>
      <xs:element name="iWant" type="xs:string"/>
      <xs:element name="soThat" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RequirementsType">
    <xs:sequence>
      <xs:element name="acceptanceCriteria" type="AcceptanceCriteriaType"/>
      <xs:element name="assumptions" type="AssumptionsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AcceptanceCriteriaType">
    <xs:sequence>
      <xs:element name="criterion" type="CriterionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CriterionType">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="givenWhenThen" type="GivenWhenThenType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="priority" type="PriorityEnum" default="medium"/>
    <xs:attribute name="validated" type="xs:boolean" default="false"/>
  </xs:complexType>

  <xs:complexType name="GivenWhenThenType">
    <xs:sequence>
      <xs:element name="given" type="xs:string"/>
      <xs:element name="when" type="xs:string"/>
      <xs:element name="then" type="xs:string"/>
      <xs:element name="and" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AssumptionsType">
    <xs:sequence>
      <xs:element name="assumption" type="AssumptionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AssumptionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ImplementationType">
    <xs:sequence>
      <xs:element name="tasks" type="TasksType"/>
      <xs:element name="interfaces" type="InterfacesType"/>
      <xs:element name="artifacts" type="ArtifactsType"/>
      <xs:element name="repoPaths" type="RepoPathsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TasksType">
    <xs:sequence>
      <xs:element name="task" type="TaskType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TaskType">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="subtasks" type="SubtasksType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="status" type="TaskStatusEnum" default="pending"/>
    <xs:attribute name="relatedAC" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="SubtasksType">
    <xs:sequence>
      <xs:element name="subtask" type="SubtaskType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubtaskType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="status" type="TaskStatusEnum" default="pending"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="InterfacesType">
    <xs:sequence>
      <xs:element name="interface" type="InterfaceType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InterfaceType">
    <xs:sequence>
      <xs:element name="endpoint" type="xs:string"/>
      <xs:element name="guards" type="xs:string" minOccurs="0"/>
      <xs:element name="request" type="xs:string"/>
      <xs:element name="response" type="xs:string"/>
      <xs:element name="location" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="type" type="InterfaceTypeEnum" use="required"/>
  </xs:complexType>

  <xs:complexType name="ArtifactsType">
    <xs:sequence>
      <xs:element name="filesToCreate" type="FileListType"/>
      <xs:element name="filesToModify" type="FileListType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FileListType">
    <xs:sequence>
      <xs:element name="file" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RepoPathsType">
    <xs:sequence>
      <xs:element name="path" type="RepoPathType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RepoPathType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="language" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ValidationType">
    <xs:sequence>
      <xs:element name="results" type="ValidationResultsType"/>
      <xs:element name="constraints" type="ConstraintsType"/>
      <xs:element name="questions" type="QuestionsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ValidationResultsType">
    <xs:sequence>
      <xs:element name="result" type="ValidationResultType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ValidationResultType">
    <xs:sequence>
      <xs:element name="issues" type="IssuesType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="validator" type="ValidatorEnum" use="required"/>
    <xs:attribute name="score" type="ScoreType" use="required"/>
    <xs:attribute name="weight" type="WeightType" use="required"/>
    <xs:attribute name="passed" type="xs:boolean" use="required"/>
  </xs:complexType>

  <xs:complexType name="IssuesType">
    <xs:sequence>
      <xs:element name="issue" type="IssueType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IssueType">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="suggestion" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="severity" type="SeverityEnum" use="required"/>
  </xs:complexType>

  <xs:complexType name="ConstraintsType">
    <xs:sequence>
      <xs:element name="constraint" type="ConstraintType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConstraintType">
    <xs:sequence>
      <xs:element name="rule" type="xs:string"/>
      <xs:element name="enforced" type="xs:boolean"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="type" type="ConstraintTypeEnum" use="required"/>
  </xs:complexType>

  <xs:complexType name="QuestionsType">
    <xs:sequence>
      <xs:element name="question" type="QuestionType" minOccurs="0" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="QuestionType">
    <xs:sequence>
      <xs:element name="text" type="xs:string"/>
      <xs:element name="options" type="OptionsType"/>
      <xs:element name="answer" type="xs:string" minOccurs="0"/>
      <xs:element name="defaultAssumption" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="answered" type="xs:boolean" default="false"/>
  </xs:complexType>

  <xs:complexType name="OptionsType">
    <xs:sequence>
      <xs:element name="option" type="OptionType" minOccurs="2" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OptionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="value" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="SnapshotsType">
    <xs:sequence>
      <xs:element name="repositoryContext" type="RepositoryContextType"/>
      <xs:element name="codeSnapshot" type="CodeSnapshotType" minOccurs="0"/>
      <xs:element name="apiSnapshot" type="ApiSnapshotType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RepositoryContextType">
    <xs:sequence>
      <xs:element name="repository" type="xs:string"/>
      <xs:element name="branch" type="xs:string"/>
      <xs:element name="commit" type="xs:string"/>
      <xs:element name="isDefaultBranch" type="xs:boolean"/>
      <xs:element name="selectedAt" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CodeSnapshotType">
    <xs:sequence>
      <xs:element name="commitSha" type="xs:string"/>
      <xs:element name="indexId" type="xs:string"/>
      <xs:element name="capturedAt" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ApiSnapshotType">
    <xs:sequence>
      <xs:element name="specUrl" type="xs:string"/>
      <xs:element name="hash" type="xs:string"/>
      <xs:element name="version" type="xs:string" minOccurs="0"/>
      <xs:element name="capturedAt" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TrackingType">
    <xs:sequence>
      <xs:element name="generationState" type="GenerationStateType"/>
      <xs:element name="estimate" type="EstimateType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GenerationStateType">
    <xs:sequence>
      <xs:element name="currentStep" type="StepNumberType"/>
      <xs:element name="completedAt" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="steps" type="StepsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StepsType">
    <xs:sequence>
      <xs:element name="step" type="StepType" minOccurs="0" maxOccurs="8"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StepType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="details" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="StepNumberType" use="required"/>
    <xs:attribute name="status" type="StepStatusEnum" use="required"/>
    <xs:attribute name="duration" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="EstimateType">
    <xs:sequence>
      <xs:element name="min" type="xs:positiveInteger"/>
      <xs:element name="max" type="xs:positiveInteger"/>
      <xs:element name="unit" type="EstimateUnitEnum"/>
      <xs:element name="confidence" type="ConfidenceEnum"/>
      <xs:element name="drivers" type="DriversType"/>
      <xs:element name="calculatedAt" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DriversType">
    <xs:sequence>
      <xs:element name="driver" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ExportType">
    <xs:sequence>
      <xs:element name="externalIssue" type="ExternalIssueType"/>
      <xs:element name="appendices" type="AppendicesType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ExternalIssueType">
    <xs:sequence>
      <xs:element name="platform" type="PlatformEnum"/>
      <xs:element name="issueId" type="xs:string"/>
      <xs:element name="issueKey" type="xs:string"/>
      <xs:element name="issueUrl" type="xs:anyURI"/>
      <xs:element name="exportedAt" type="xs:dateTime"/>
      <xs:element name="exportedBy" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AppendicesType">
    <xs:sequence>
      <xs:element name="devAppendix" type="xs:string"/>
      <xs:element name="qaAppendix" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- =========================================== -->
  <!-- Simple Types & Enums -->
  <!-- =========================================== -->

  <xs:simpleType name="StatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="draft"/>
      <xs:enumeration value="validated"/>
      <xs:enumeration value="ready"/>
      <xs:enumeration value="created"/>
      <xs:enumeration value="drifted"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TicketTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="feature"/>
      <xs:enumeration value="bug"/>
      <xs:enumeration value="task"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PriorityEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="critical"/>
      <xs:enumeration value="high"/>
      <xs:enumeration value="medium"/>
      <xs:enumeration value="low"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TaskStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pending"/>
      <xs:enumeration value="in-progress"/>
      <xs:enumeration value="complete"/>
      <xs:enumeration value="blocked"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="InterfaceTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REST"/>
      <xs:enumeration value="GraphQL"/>
      <xs:enumeration value="Webhook"/>
      <xs:enumeration value="Repository"/>
      <xs:enumeration value="Service"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidatorEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="structural"/>
      <xs:enumeration value="behavioral"/>
      <xs:enumeration value="testability"/>
      <xs:enumeration value="risk"/>
      <xs:enumeration value="permissions"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SeverityEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="error"/>
      <xs:enumeration value="warning"/>
      <xs:enumeration value="info"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ConstraintTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="architecture"/>
      <xs:enumeration value="security"/>
      <xs:enumeration value="performance"/>
      <xs:enumeration value="accessibility"/>
      <xs:enumeration value="testing"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="StepStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pending"/>
      <xs:enumeration value="in-progress"/>
      <xs:enumeration value="complete"/>
      <xs:enumeration value="failed"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EstimateUnitEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hours"/>
      <xs:enumeration value="days"/>
      <xs:enumeration value="weeks"/>
      <xs:enumeration value="story-points"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ConfidenceEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="low"/>
      <xs:enumeration value="medium"/>
      <xs:enumeration value="high"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PlatformEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="jira"/>
      <xs:enumeration value="linear"/>
      <xs:enumeration value="github"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ScoreType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="WeightType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.0"/>
      <xs:maxInclusive value="10.0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="StepNumberType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="8"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TitleType">
    <xs:restriction base="xs:string">
      <xs:minLength value="3"/>
      <xs:maxLength value="500"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
